In [1]:
from pyspark.sql.functions import *

In [2]:
spark

In [3]:
sc

In [4]:
df = spark.read.csv("hdfs://devenv/user/spark/spark_sql_101/data/stocks.csv",
                    inferSchema=True,
                    header=True)

In [5]:
df.show()

+------+-------------------+------+------+------+------+--------+---------+
|symbol|                day|  open|  high|   low| close|  volumn|adj_close|
+------+-------------------+------+------+------+------+--------+---------+
|  AAPL|2009-01-02 00:00:00| 85.88| 91.04| 85.16| 90.75|26643400|    90.75|
|  AAPL|2008-01-02 00:00:00|199.27|200.26|192.55|194.84|38542100|   194.84|
|  AAPL|2007-01-03 00:00:00| 86.29| 86.58|  81.9|  83.8|44225700|     83.8|
|  AAPL|2006-01-03 00:00:00| 72.38| 74.75| 72.25| 74.75|28829800|    74.75|
|  AAPL|2005-01-03 00:00:00| 64.78| 65.11|  62.6| 63.29|24714000|    31.65|
|  AAPL|2004-01-02 00:00:00| 21.55| 21.75| 21.18| 21.28| 5165800|    10.64|
|  AAPL|2003-01-02 00:00:00| 14.36| 14.92| 14.35|  14.8| 6479600|      7.4|
|  AAPL|2002-01-02 00:00:00| 22.05|  23.3| 21.96|  23.3|18910600|    11.65|
|  AAPL|2001-01-02 00:00:00| 14.88| 15.25| 14.56| 14.88|16161800|     7.44|
|  AAPL|2000-01-03 00:00:00|104.87| 112.5|101.69|111.94|19144400|    27.99|
|  CSCO|2009-01-02 00:00:00| 16.41|  17.0| 16.25| 16.96|40980600|    16.96|
|  CSCO|2008-01-02 00:00:00|  27.0|  27.3| 26.21| 26.54|64338900|    26.54|
|  CSCO|2007-01-03 00:00:00| 27.46| 27.98| 27.33| 27.73|64226000|    27.73|
|  CSCO|2006-01-03 00:00:00| 17.21| 17.49| 17.18| 17.45|55426000|    17.45|
|  CSCO|2005-01-03 00:00:00| 19.42| 19.61| 19.27| 19.32|56725600|    19.32|
|  CSCO|2004-01-02 00:00:00| 24.36| 24.53| 24.16| 24.25|29955800|    24.25|
|  CSCO|2003-01-02 00:00:00| 13.11| 13.69| 13.09| 13.64|61335700|    13.64|
|  CSCO|2002-01-02 00:00:00| 18.44|  19.3| 18.26| 19.23|55376900|    19.23|
|  CSCO|2001-01-02 00:00:00| 38.13|  38.5| 32.63| 33.31|17384600|    33.31|
|  CSCO|2000-01-03 00:00:00|109.94|110.25|103.56|108.06|53076000|    54.03|
+------+-------------------+------+------+------+------+--------+---------+
only showing top 20 rows

In [6]:
df.select(df["symbol"], df["high"], df["low"]).show()

+------+------+------+
|symbol|  high|   low|
+------+------+------+
|  AAPL| 91.04| 85.16|
|  AAPL|200.26|192.55|
|  AAPL| 86.58|  81.9|
|  AAPL| 74.75| 72.25|
|  AAPL| 65.11|  62.6|
|  AAPL| 21.75| 21.18|
|  AAPL| 14.92| 14.35|
|  AAPL|  23.3| 21.96|
|  AAPL| 15.25| 14.56|
|  AAPL| 112.5|101.69|
|  CSCO|  17.0| 16.25|
|  CSCO|  27.3| 26.21|
|  CSCO| 27.98| 27.33|
|  CSCO| 17.49| 17.18|
|  CSCO| 19.61| 19.27|
|  CSCO| 24.53| 24.16|
|  CSCO| 13.69| 13.09|
|  CSCO|  19.3| 18.26|
|  CSCO|  38.5| 32.63|
|  CSCO|110.25|103.56|
+------+------+------+
only showing top 20 rows

In [7]:
df.select(df["symbol"].alias("Stock Symbol"), df["high"], df["low"]).show()

+------------+------+------+
|Stock Symbol|  high|   low|
+------------+------+------+
|        AAPL| 91.04| 85.16|
|        AAPL|200.26|192.55|
|        AAPL| 86.58|  81.9|
|        AAPL| 74.75| 72.25|
|        AAPL| 65.11|  62.6|
|        AAPL| 21.75| 21.18|
|        AAPL| 14.92| 14.35|
|        AAPL|  23.3| 21.96|
|        AAPL| 15.25| 14.56|
|        AAPL| 112.5|101.69|
|        CSCO|  17.0| 16.25|
|        CSCO|  27.3| 26.21|
|        CSCO| 27.98| 27.33|
|        CSCO| 17.49| 17.18|
|        CSCO| 19.61| 19.27|
|        CSCO| 24.53| 24.16|
|        CSCO| 13.69| 13.09|
|        CSCO|  19.3| 18.26|
|        CSCO|  38.5| 32.63|
|        CSCO|110.25|103.56|
+------------+------+------+
only showing top 20 rows

In [8]:
df.select(df["symbol"].alias("Stock Symbol"), format_number(df["high"],1), df["low"]).show()

+------------+----------------------+------+
|Stock Symbol|format_number(high, 1)|   low|
+------------+----------------------+------+
|        AAPL|                  91.0| 85.16|
|        AAPL|                 200.3|192.55|
|        AAPL|                  86.6|  81.9|
|        AAPL|                  74.8| 72.25|
|        AAPL|                  65.1|  62.6|
|        AAPL|                  21.8| 21.18|
|        AAPL|                  14.9| 14.35|
|        AAPL|                  23.3| 21.96|
|        AAPL|                  15.2| 14.56|
|        AAPL|                 112.5|101.69|
|        CSCO|                  17.0| 16.25|
|        CSCO|                  27.3| 26.21|
|        CSCO|                  28.0| 27.33|
|        CSCO|                  17.5| 17.18|
|        CSCO|                  19.6| 19.27|
|        CSCO|                  24.5| 24.16|
|        CSCO|                  13.7| 13.09|
|        CSCO|                  19.3| 18.26|
|        CSCO|                  38.5| 32.63|
|        CSCO|                 110.2|103.56|
+------------+----------------------+------+
only showing top 20 rows

In [9]:
df.select("symbol", "high", "low").show()

+------+------+------+
|symbol|  high|   low|
+------+------+------+
|  AAPL| 91.04| 85.16|
|  AAPL|200.26|192.55|
|  AAPL| 86.58|  81.9|
|  AAPL| 74.75| 72.25|
|  AAPL| 65.11|  62.6|
|  AAPL| 21.75| 21.18|
|  AAPL| 14.92| 14.35|
|  AAPL|  23.3| 21.96|
|  AAPL| 15.25| 14.56|
|  AAPL| 112.5|101.69|
|  CSCO|  17.0| 16.25|
|  CSCO|  27.3| 26.21|
|  CSCO| 27.98| 27.33|
|  CSCO| 17.49| 17.18|
|  CSCO| 19.61| 19.27|
|  CSCO| 24.53| 24.16|
|  CSCO| 13.69| 13.09|
|  CSCO|  19.3| 18.26|
|  CSCO|  38.5| 32.63|
|  CSCO|110.25|103.56|
+------+------+------+
only showing top 20 rows

In [10]:
df.filter(df["symbol"] == "AAPL").show()

+------+-------------------+------+------+------+------+--------+---------+
|symbol|                day|  open|  high|   low| close|  volumn|adj_close|
+------+-------------------+------+------+------+------+--------+---------+
|  AAPL|2009-01-02 00:00:00| 85.88| 91.04| 85.16| 90.75|26643400|    90.75|
|  AAPL|2008-01-02 00:00:00|199.27|200.26|192.55|194.84|38542100|   194.84|
|  AAPL|2007-01-03 00:00:00| 86.29| 86.58|  81.9|  83.8|44225700|     83.8|
|  AAPL|2006-01-03 00:00:00| 72.38| 74.75| 72.25| 74.75|28829800|    74.75|
|  AAPL|2005-01-03 00:00:00| 64.78| 65.11|  62.6| 63.29|24714000|    31.65|
|  AAPL|2004-01-02 00:00:00| 21.55| 21.75| 21.18| 21.28| 5165800|    10.64|
|  AAPL|2003-01-02 00:00:00| 14.36| 14.92| 14.35|  14.8| 6479600|      7.4|
|  AAPL|2002-01-02 00:00:00| 22.05|  23.3| 21.96|  23.3|18910600|    11.65|
|  AAPL|2001-01-02 00:00:00| 14.88| 15.25| 14.56| 14.88|16161800|     7.44|
|  AAPL|2000-01-03 00:00:00|104.87| 112.5|101.69|111.94|19144400|    27.99|
+------+-------------------+------+------+------+------+--------+---------+

In [11]:
df.filter((df["close"] <= 200) & (df["open"] > 30)).show()

+------+-------------------+------+------+------+------+--------+---------+
|symbol|                day|  open|  high|   low| close|  volumn|adj_close|
+------+-------------------+------+------+------+------+--------+---------+
|  AAPL|2009-01-02 00:00:00| 85.88| 91.04| 85.16| 90.75|26643400|    90.75|
|  AAPL|2008-01-02 00:00:00|199.27|200.26|192.55|194.84|38542100|   194.84|
|  AAPL|2007-01-03 00:00:00| 86.29| 86.58|  81.9|  83.8|44225700|     83.8|
|  AAPL|2006-01-03 00:00:00| 72.38| 74.75| 72.25| 74.75|28829800|    74.75|
|  AAPL|2005-01-03 00:00:00| 64.78| 65.11|  62.6| 63.29|24714000|    31.65|
|  AAPL|2000-01-03 00:00:00|104.87| 112.5|101.69|111.94|19144400|    27.99|
|  CSCO|2001-01-02 00:00:00| 38.13|  38.5| 32.63| 33.31|17384600|    33.31|
|  CSCO|2000-01-03 00:00:00|109.94|110.25|103.56|108.06|53076000|    54.03|
|  MSFT|2008-01-02 00:00:00| 35.79| 35.96|  35.0| 35.22|63004200|    33.79|
|  MSFT|2003-01-02 00:00:00|  52.3| 53.75| 51.71| 53.72|67025200|    21.95|
|  MSFT|2002-01-02 00:00:00| 66.65| 67.11| 65.51| 67.04|48124000|     27.4|
|  MSFT|2001-01-02 00:00:00| 44.13|  45.0| 42.88| 43.38|82413200|    17.73|
|  MSFT|2000-01-03 00:00:00|117.37|118.62| 112.0|116.56|53228400|    47.64|
|  YHOO|2006-01-03 00:00:00| 39.69| 41.22| 38.79| 40.91|24227700|    40.91|
|  YHOO|2005-01-03 00:00:00| 38.36|  38.9| 37.65| 38.18|25482800|    38.18|
|  YHOO|2004-01-02 00:00:00|  45.5| 45.83| 45.12|  45.4|16480000|     22.7|
|  YHOO|2001-01-02 00:00:00| 30.31| 30.37|  27.5| 28.19|21939200|     14.1|
+------+-------------------+------+------+------+------+--------+---------+

In [12]:
df.filter((df["close"] <= 200) & ~(df["open"] > 30)).show()

+------+-------------------+-----+-----+-----+-----+--------+---------+
|symbol|                day| open| high|  low|close|  volumn|adj_close|
+------+-------------------+-----+-----+-----+-----+--------+---------+
|  AAPL|2004-01-02 00:00:00|21.55|21.75|21.18|21.28| 5165800|    10.64|
|  AAPL|2003-01-02 00:00:00|14.36|14.92|14.35| 14.8| 6479600|      7.4|
|  AAPL|2002-01-02 00:00:00|22.05| 23.3|21.96| 23.3|18910600|    11.65|
|  AAPL|2001-01-02 00:00:00|14.88|15.25|14.56|14.88|16161800|     7.44|
|  CSCO|2009-01-02 00:00:00|16.41| 17.0|16.25|16.96|40980600|    16.96|
|  CSCO|2008-01-02 00:00:00| 27.0| 27.3|26.21|26.54|64338900|    26.54|
|  CSCO|2007-01-03 00:00:00|27.46|27.98|27.33|27.73|64226000|    27.73|
|  CSCO|2006-01-03 00:00:00|17.21|17.49|17.18|17.45|55426000|    17.45|
|  CSCO|2005-01-03 00:00:00|19.42|19.61|19.27|19.32|56725600|    19.32|
|  CSCO|2004-01-02 00:00:00|24.36|24.53|24.16|24.25|29955800|    24.25|
|  CSCO|2003-01-02 00:00:00|13.11|13.69|13.09|13.64|61335700|    13.64|
|  CSCO|2002-01-02 00:00:00|18.44| 19.3|18.26|19.23|55376900|    19.23|
|  MSFT|2009-01-02 00:00:00|19.53| 20.4|19.37|20.33|50084000|    19.86|
|  MSFT|2007-01-03 00:00:00|29.91|30.25| 29.4|29.86|76935100|    28.26|
|  MSFT|2006-01-03 00:00:00|26.25| 27.0| 26.1|26.84|79973000|    25.04|
|  MSFT|2005-01-03 00:00:00| 26.8|26.95|26.65|26.74|65002900|    24.65|
|  MSFT|2004-01-02 00:00:00|27.58|27.77|27.33|27.45|44487700|    22.64|
|  YHOO|2009-01-02 00:00:00|12.17|12.85|12.12|12.85| 9514600|    12.85|
|  YHOO|2008-01-02 00:00:00| 23.8|24.15| 23.6|23.72|25671700|    23.72|
|  YHOO|2007-01-03 00:00:00|25.85|26.26|25.26|25.61|26352700|    25.61|
+------+-------------------+-----+-----+-----+-----+--------+---------+
only showing top 20 rows

In [13]:
df.filter("symbol = 'AAPL'").show()

+------+-------------------+------+------+------+------+--------+---------+
|symbol|                day|  open|  high|   low| close|  volumn|adj_close|
+------+-------------------+------+------+------+------+--------+---------+
|  AAPL|2009-01-02 00:00:00| 85.88| 91.04| 85.16| 90.75|26643400|    90.75|
|  AAPL|2008-01-02 00:00:00|199.27|200.26|192.55|194.84|38542100|   194.84|
|  AAPL|2007-01-03 00:00:00| 86.29| 86.58|  81.9|  83.8|44225700|     83.8|
|  AAPL|2006-01-03 00:00:00| 72.38| 74.75| 72.25| 74.75|28829800|    74.75|
|  AAPL|2005-01-03 00:00:00| 64.78| 65.11|  62.6| 63.29|24714000|    31.65|
|  AAPL|2004-01-02 00:00:00| 21.55| 21.75| 21.18| 21.28| 5165800|    10.64|
|  AAPL|2003-01-02 00:00:00| 14.36| 14.92| 14.35|  14.8| 6479600|      7.4|
|  AAPL|2002-01-02 00:00:00| 22.05|  23.3| 21.96|  23.3|18910600|    11.65|
|  AAPL|2001-01-02 00:00:00| 14.88| 15.25| 14.56| 14.88|16161800|     7.44|
|  AAPL|2000-01-03 00:00:00|104.87| 112.5|101.69|111.94|19144400|    27.99|
+------+-------------------+------+------+------+------+--------+---------+

In [14]:
df.filter("close <= 200 and open > 30").show()

+------+-------------------+------+------+------+------+--------+---------+
|symbol|                day|  open|  high|   low| close|  volumn|adj_close|
+------+-------------------+------+------+------+------+--------+---------+
|  AAPL|2009-01-02 00:00:00| 85.88| 91.04| 85.16| 90.75|26643400|    90.75|
|  AAPL|2008-01-02 00:00:00|199.27|200.26|192.55|194.84|38542100|   194.84|
|  AAPL|2007-01-03 00:00:00| 86.29| 86.58|  81.9|  83.8|44225700|     83.8|
|  AAPL|2006-01-03 00:00:00| 72.38| 74.75| 72.25| 74.75|28829800|    74.75|
|  AAPL|2005-01-03 00:00:00| 64.78| 65.11|  62.6| 63.29|24714000|    31.65|
|  AAPL|2000-01-03 00:00:00|104.87| 112.5|101.69|111.94|19144400|    27.99|
|  CSCO|2001-01-02 00:00:00| 38.13|  38.5| 32.63| 33.31|17384600|    33.31|
|  CSCO|2000-01-03 00:00:00|109.94|110.25|103.56|108.06|53076000|    54.03|
|  MSFT|2008-01-02 00:00:00| 35.79| 35.96|  35.0| 35.22|63004200|    33.79|
|  MSFT|2003-01-02 00:00:00|  52.3| 53.75| 51.71| 53.72|67025200|    21.95|
|  MSFT|2002-01-02 00:00:00| 66.65| 67.11| 65.51| 67.04|48124000|     27.4|
|  MSFT|2001-01-02 00:00:00| 44.13|  45.0| 42.88| 43.38|82413200|    17.73|
|  MSFT|2000-01-03 00:00:00|117.37|118.62| 112.0|116.56|53228400|    47.64|
|  YHOO|2006-01-03 00:00:00| 39.69| 41.22| 38.79| 40.91|24227700|    40.91|
|  YHOO|2005-01-03 00:00:00| 38.36|  38.9| 37.65| 38.18|25482800|    38.18|
|  YHOO|2004-01-02 00:00:00|  45.5| 45.83| 45.12|  45.4|16480000|     22.7|
|  YHOO|2001-01-02 00:00:00| 30.31| 30.37|  27.5| 28.19|21939200|     14.1|
+------+-------------------+------+------+------+------+--------+---------+

In [15]:
df.filter("close <= 200 and not(open > 30)").show()

+------+-------------------+-----+-----+-----+-----+--------+---------+
|symbol|                day| open| high|  low|close|  volumn|adj_close|
+------+-------------------+-----+-----+-----+-----+--------+---------+
|  AAPL|2004-01-02 00:00:00|21.55|21.75|21.18|21.28| 5165800|    10.64|
|  AAPL|2003-01-02 00:00:00|14.36|14.92|14.35| 14.8| 6479600|      7.4|
|  AAPL|2002-01-02 00:00:00|22.05| 23.3|21.96| 23.3|18910600|    11.65|
|  AAPL|2001-01-02 00:00:00|14.88|15.25|14.56|14.88|16161800|     7.44|
|  CSCO|2009-01-02 00:00:00|16.41| 17.0|16.25|16.96|40980600|    16.96|
|  CSCO|2008-01-02 00:00:00| 27.0| 27.3|26.21|26.54|64338900|    26.54|
|  CSCO|2007-01-03 00:00:00|27.46|27.98|27.33|27.73|64226000|    27.73|
|  CSCO|2006-01-03 00:00:00|17.21|17.49|17.18|17.45|55426000|    17.45|
|  CSCO|2005-01-03 00:00:00|19.42|19.61|19.27|19.32|56725600|    19.32|
|  CSCO|2004-01-02 00:00:00|24.36|24.53|24.16|24.25|29955800|    24.25|
|  CSCO|2003-01-02 00:00:00|13.11|13.69|13.09|13.64|61335700|    13.64|
|  CSCO|2002-01-02 00:00:00|18.44| 19.3|18.26|19.23|55376900|    19.23|
|  MSFT|2009-01-02 00:00:00|19.53| 20.4|19.37|20.33|50084000|    19.86|
|  MSFT|2007-01-03 00:00:00|29.91|30.25| 29.4|29.86|76935100|    28.26|
|  MSFT|2006-01-03 00:00:00|26.25| 27.0| 26.1|26.84|79973000|    25.04|
|  MSFT|2005-01-03 00:00:00| 26.8|26.95|26.65|26.74|65002900|    24.65|
|  MSFT|2004-01-02 00:00:00|27.58|27.77|27.33|27.45|44487700|    22.64|
|  YHOO|2009-01-02 00:00:00|12.17|12.85|12.12|12.85| 9514600|    12.85|
|  YHOO|2008-01-02 00:00:00| 23.8|24.15| 23.6|23.72|25671700|    23.72|
|  YHOO|2007-01-03 00:00:00|25.85|26.26|25.26|25.61|26352700|    25.61|
+------+-------------------+-----+-----+-----+-----+--------+---------+
only showing top 20 rows

In [16]:
df.where(df["symbol"] == "AAPL").show()

+------+-------------------+------+------+------+------+--------+---------+
|symbol|                day|  open|  high|   low| close|  volumn|adj_close|
+------+-------------------+------+------+------+------+--------+---------+
|  AAPL|2009-01-02 00:00:00| 85.88| 91.04| 85.16| 90.75|26643400|    90.75|
|  AAPL|2008-01-02 00:00:00|199.27|200.26|192.55|194.84|38542100|   194.84|
|  AAPL|2007-01-03 00:00:00| 86.29| 86.58|  81.9|  83.8|44225700|     83.8|
|  AAPL|2006-01-03 00:00:00| 72.38| 74.75| 72.25| 74.75|28829800|    74.75|
|  AAPL|2005-01-03 00:00:00| 64.78| 65.11|  62.6| 63.29|24714000|    31.65|
|  AAPL|2004-01-02 00:00:00| 21.55| 21.75| 21.18| 21.28| 5165800|    10.64|
|  AAPL|2003-01-02 00:00:00| 14.36| 14.92| 14.35|  14.8| 6479600|      7.4|
|  AAPL|2002-01-02 00:00:00| 22.05|  23.3| 21.96|  23.3|18910600|    11.65|
|  AAPL|2001-01-02 00:00:00| 14.88| 15.25| 14.56| 14.88|16161800|     7.44|
|  AAPL|2000-01-03 00:00:00|104.87| 112.5|101.69|111.94|19144400|    27.99|
+------+-------------------+------+------+------+------+--------+---------+

In [17]:
df.orderBy(df["open"]).show()

+------+-------------------+-----+-----+-----+-----+--------+---------+
|symbol|                day| open| high|  low|close|  volumn|adj_close|
+------+-------------------+-----+-----+-----+-----+--------+---------+
|  YHOO|2009-01-02 00:00:00|12.17|12.85|12.12|12.85| 9514600|    12.85|
|  CSCO|2003-01-02 00:00:00|13.11|13.69|13.09|13.64|61335700|    13.64|
|  AAPL|2003-01-02 00:00:00|14.36|14.92|14.35| 14.8| 6479600|      7.4|
|  AAPL|2001-01-02 00:00:00|14.88|15.25|14.56|14.88|16161800|     7.44|
|  CSCO|2009-01-02 00:00:00|16.41| 17.0|16.25|16.96|40980600|    16.96|
|  YHOO|2003-01-02 00:00:00|16.59|17.66| 16.5| 17.6|19640400|      8.8|
|  CSCO|2006-01-03 00:00:00|17.21|17.49|17.18|17.45|55426000|    17.45|
|  YHOO|2002-01-02 00:00:00|18.14|18.69|17.68|18.63|21903600|     9.31|
|  CSCO|2002-01-02 00:00:00|18.44| 19.3|18.26|19.23|55376900|    19.23|
|  CSCO|2005-01-03 00:00:00|19.42|19.61|19.27|19.32|56725600|    19.32|
|  MSFT|2009-01-02 00:00:00|19.53| 20.4|19.37|20.33|50084000|    19.86|
|  AAPL|2004-01-02 00:00:00|21.55|21.75|21.18|21.28| 5165800|    10.64|
|  AAPL|2002-01-02 00:00:00|22.05| 23.3|21.96| 23.3|18910600|    11.65|
|  YHOO|2008-01-02 00:00:00| 23.8|24.15| 23.6|23.72|25671700|    23.72|
|  CSCO|2004-01-02 00:00:00|24.36|24.53|24.16|24.25|29955800|    24.25|
|  YHOO|2007-01-03 00:00:00|25.85|26.26|25.26|25.61|26352700|    25.61|
|  MSFT|2006-01-03 00:00:00|26.25| 27.0| 26.1|26.84|79973000|    25.04|
|  MSFT|2005-01-03 00:00:00| 26.8|26.95|26.65|26.74|65002900|    24.65|
|  CSCO|2008-01-02 00:00:00| 27.0| 27.3|26.21|26.54|64338900|    26.54|
|  CSCO|2007-01-03 00:00:00|27.46|27.98|27.33|27.73|64226000|    27.73|
+------+-------------------+-----+-----+-----+-----+--------+---------+
only showing top 20 rows

In [18]:
df.orderBy(df["symbol"], df["open"]).show()

+------+-------------------+------+------+------+------+--------+---------+
|symbol|                day|  open|  high|   low| close|  volumn|adj_close|
+------+-------------------+------+------+------+------+--------+---------+
|  AAPL|2003-01-02 00:00:00| 14.36| 14.92| 14.35|  14.8| 6479600|      7.4|
|  AAPL|2001-01-02 00:00:00| 14.88| 15.25| 14.56| 14.88|16161800|     7.44|
|  AAPL|2004-01-02 00:00:00| 21.55| 21.75| 21.18| 21.28| 5165800|    10.64|
|  AAPL|2002-01-02 00:00:00| 22.05|  23.3| 21.96|  23.3|18910600|    11.65|
|  AAPL|2005-01-03 00:00:00| 64.78| 65.11|  62.6| 63.29|24714000|    31.65|
|  AAPL|2006-01-03 00:00:00| 72.38| 74.75| 72.25| 74.75|28829800|    74.75|
|  AAPL|2009-01-02 00:00:00| 85.88| 91.04| 85.16| 90.75|26643400|    90.75|
|  AAPL|2007-01-03 00:00:00| 86.29| 86.58|  81.9|  83.8|44225700|     83.8|
|  AAPL|2000-01-03 00:00:00|104.87| 112.5|101.69|111.94|19144400|    27.99|
|  AAPL|2008-01-02 00:00:00|199.27|200.26|192.55|194.84|38542100|   194.84|
|  CSCO|2003-01-02 00:00:00| 13.11| 13.69| 13.09| 13.64|61335700|    13.64|
|  CSCO|2009-01-02 00:00:00| 16.41|  17.0| 16.25| 16.96|40980600|    16.96|
|  CSCO|2006-01-03 00:00:00| 17.21| 17.49| 17.18| 17.45|55426000|    17.45|
|  CSCO|2002-01-02 00:00:00| 18.44|  19.3| 18.26| 19.23|55376900|    19.23|
|  CSCO|2005-01-03 00:00:00| 19.42| 19.61| 19.27| 19.32|56725600|    19.32|
|  CSCO|2004-01-02 00:00:00| 24.36| 24.53| 24.16| 24.25|29955800|    24.25|
|  CSCO|2008-01-02 00:00:00|  27.0|  27.3| 26.21| 26.54|64338900|    26.54|
|  CSCO|2007-01-03 00:00:00| 27.46| 27.98| 27.33| 27.73|64226000|    27.73|
|  CSCO|2001-01-02 00:00:00| 38.13|  38.5| 32.63| 33.31|17384600|    33.31|
|  CSCO|2000-01-03 00:00:00|109.94|110.25|103.56|108.06|53076000|    54.03|
+------+-------------------+------+------+------+------+--------+---------+
only showing top 20 rows

In [19]:
df.orderBy(df["open"].desc()).show()

+------+-------------------+------+------+------+------+--------+---------+
|symbol|                day|  open|  high|   low| close|  volumn|adj_close|
+------+-------------------+------+------+------+------+--------+---------+
|  GOOG|2008-01-02 00:00:00|692.87|697.37|677.73|685.19| 4306900|   685.19|
|  GOOG|2007-01-03 00:00:00| 466.0|476.66|461.11|467.59| 7706500|   467.59|
|  YHOO|2000-01-03 00:00:00|442.92| 477.0| 429.5| 475.0|38469600|   118.75|
|  GOOG|2006-01-03 00:00:00|422.52|435.67|418.22|435.23|13121200|   435.23|
|  GOOG|2009-01-02 00:00:00| 308.6|321.82| 305.5|321.32| 3610500|   321.32|
|  AAPL|2008-01-02 00:00:00|199.27|200.26|192.55|194.84|38542100|   194.84|
|  GOOG|2005-01-03 00:00:00| 197.4|203.64|195.46|202.71|15844200|   202.71|
|  MSFT|2000-01-03 00:00:00|117.37|118.62| 112.0|116.56|53228400|    47.64|
|  CSCO|2000-01-03 00:00:00|109.94|110.25|103.56|108.06|53076000|    54.03|
|  AAPL|2000-01-03 00:00:00|104.87| 112.5|101.69|111.94|19144400|    27.99|
|  AAPL|2007-01-03 00:00:00| 86.29| 86.58|  81.9|  83.8|44225700|     83.8|
|  AAPL|2009-01-02 00:00:00| 85.88| 91.04| 85.16| 90.75|26643400|    90.75|
|  AAPL|2006-01-03 00:00:00| 72.38| 74.75| 72.25| 74.75|28829800|    74.75|
|  MSFT|2002-01-02 00:00:00| 66.65| 67.11| 65.51| 67.04|48124000|     27.4|
|  AAPL|2005-01-03 00:00:00| 64.78| 65.11|  62.6| 63.29|24714000|    31.65|
|  MSFT|2003-01-02 00:00:00|  52.3| 53.75| 51.71| 53.72|67025200|    21.95|
|  YHOO|2004-01-02 00:00:00|  45.5| 45.83| 45.12|  45.4|16480000|     22.7|
|  MSFT|2001-01-02 00:00:00| 44.13|  45.0| 42.88| 43.38|82413200|    17.73|
|  YHOO|2006-01-03 00:00:00| 39.69| 41.22| 38.79| 40.91|24227700|    40.91|
|  YHOO|2005-01-03 00:00:00| 38.36|  38.9| 37.65| 38.18|25482800|    38.18|
+------+-------------------+------+------+------+------+--------+---------+
only showing top 20 rows

In [20]:
df.orderBy("symbol", "open").show()

+------+-------------------+------+------+------+------+--------+---------+
|symbol|                day|  open|  high|   low| close|  volumn|adj_close|
+------+-------------------+------+------+------+------+--------+---------+
|  AAPL|2003-01-02 00:00:00| 14.36| 14.92| 14.35|  14.8| 6479600|      7.4|
|  AAPL|2001-01-02 00:00:00| 14.88| 15.25| 14.56| 14.88|16161800|     7.44|
|  AAPL|2004-01-02 00:00:00| 21.55| 21.75| 21.18| 21.28| 5165800|    10.64|
|  AAPL|2002-01-02 00:00:00| 22.05|  23.3| 21.96|  23.3|18910600|    11.65|
|  AAPL|2005-01-03 00:00:00| 64.78| 65.11|  62.6| 63.29|24714000|    31.65|
|  AAPL|2006-01-03 00:00:00| 72.38| 74.75| 72.25| 74.75|28829800|    74.75|
|  AAPL|2009-01-02 00:00:00| 85.88| 91.04| 85.16| 90.75|26643400|    90.75|
|  AAPL|2007-01-03 00:00:00| 86.29| 86.58|  81.9|  83.8|44225700|     83.8|
|  AAPL|2000-01-03 00:00:00|104.87| 112.5|101.69|111.94|19144400|    27.99|
|  AAPL|2008-01-02 00:00:00|199.27|200.26|192.55|194.84|38542100|   194.84|
|  CSCO|2003-01-02 00:00:00| 13.11| 13.69| 13.09| 13.64|61335700|    13.64|
|  CSCO|2009-01-02 00:00:00| 16.41|  17.0| 16.25| 16.96|40980600|    16.96|
|  CSCO|2006-01-03 00:00:00| 17.21| 17.49| 17.18| 17.45|55426000|    17.45|
|  CSCO|2002-01-02 00:00:00| 18.44|  19.3| 18.26| 19.23|55376900|    19.23|
|  CSCO|2005-01-03 00:00:00| 19.42| 19.61| 19.27| 19.32|56725600|    19.32|
|  CSCO|2004-01-02 00:00:00| 24.36| 24.53| 24.16| 24.25|29955800|    24.25|
|  CSCO|2008-01-02 00:00:00|  27.0|  27.3| 26.21| 26.54|64338900|    26.54|
|  CSCO|2007-01-03 00:00:00| 27.46| 27.98| 27.33| 27.73|64226000|    27.73|
|  CSCO|2001-01-02 00:00:00| 38.13|  38.5| 32.63| 33.31|17384600|    33.31|
|  CSCO|2000-01-03 00:00:00|109.94|110.25|103.56|108.06|53076000|    54.03|
+------+-------------------+------+------+------+------+--------+---------+
only showing top 20 rows

In [21]:
stock_names = [("AAPL", "Apple"), ("CSCO","Cisco Systems")]

In [22]:
stock_names_df = spark.createDataFrame(stock_names, "symbol: string, names: string")

In [23]:
stock_names_df.join(df, stock_names_df["symbol"] == df["symbol"]).show()

+------+-------------+------+-------------------+------+------+------+------+--------+---------+
|symbol|        names|symbol|                day|  open|  high|   low| close|  volumn|adj_close|
+------+-------------+------+-------------------+------+------+------+------+--------+---------+
|  AAPL|        Apple|  AAPL|2000-01-03 00:00:00|104.87| 112.5|101.69|111.94|19144400|    27.99|
|  AAPL|        Apple|  AAPL|2001-01-02 00:00:00| 14.88| 15.25| 14.56| 14.88|16161800|     7.44|
|  AAPL|        Apple|  AAPL|2002-01-02 00:00:00| 22.05|  23.3| 21.96|  23.3|18910600|    11.65|
|  AAPL|        Apple|  AAPL|2003-01-02 00:00:00| 14.36| 14.92| 14.35|  14.8| 6479600|      7.4|
|  AAPL|        Apple|  AAPL|2004-01-02 00:00:00| 21.55| 21.75| 21.18| 21.28| 5165800|    10.64|
|  AAPL|        Apple|  AAPL|2005-01-03 00:00:00| 64.78| 65.11|  62.6| 63.29|24714000|    31.65|
|  AAPL|        Apple|  AAPL|2006-01-03 00:00:00| 72.38| 74.75| 72.25| 74.75|28829800|    74.75|
|  AAPL|        Apple|  AAPL|2007-01-03 00:00:00| 86.29| 86.58|  81.9|  83.8|44225700|     83.8|
|  AAPL|        Apple|  AAPL|2008-01-02 00:00:00|199.27|200.26|192.55|194.84|38542100|   194.84|
|  AAPL|        Apple|  AAPL|2009-01-02 00:00:00| 85.88| 91.04| 85.16| 90.75|26643400|    90.75|
|  CSCO|Cisco Systems|  CSCO|2000-01-03 00:00:00|109.94|110.25|103.56|108.06|53076000|    54.03|
|  CSCO|Cisco Systems|  CSCO|2001-01-02 00:00:00| 38.13|  38.5| 32.63| 33.31|17384600|    33.31|
|  CSCO|Cisco Systems|  CSCO|2002-01-02 00:00:00| 18.44|  19.3| 18.26| 19.23|55376900|    19.23|
|  CSCO|Cisco Systems|  CSCO|2003-01-02 00:00:00| 13.11| 13.69| 13.09| 13.64|61335700|    13.64|
|  CSCO|Cisco Systems|  CSCO|2004-01-02 00:00:00| 24.36| 24.53| 24.16| 24.25|29955800|    24.25|
|  CSCO|Cisco Systems|  CSCO|2005-01-03 00:00:00| 19.42| 19.61| 19.27| 19.32|56725600|    19.32|
|  CSCO|Cisco Systems|  CSCO|2006-01-03 00:00:00| 17.21| 17.49| 17.18| 17.45|55426000|    17.45|
|  CSCO|Cisco Systems|  CSCO|2007-01-03 00:00:00| 27.46| 27.98| 27.33| 27.73|64226000|    27.73|
|  CSCO|Cisco Systems|  CSCO|2008-01-02 00:00:00|  27.0|  27.3| 26.21| 26.54|64338900|    26.54|
|  CSCO|Cisco Systems|  CSCO|2009-01-02 00:00:00| 16.41|  17.0| 16.25| 16.96|40980600|    16.96|
+------+-------------+------+-------------------+------+------+------+------+--------+---------+

In [24]:
stock_names_df.join(df, stock_names_df["symbol"] == df["symbol"], "right").show(40)

+------+-------------+------+-------------------+------+------+------+------+--------+---------+
|symbol|        names|symbol|                day|  open|  high|   low| close|  volumn|adj_close|
+------+-------------+------+-------------------+------+------+------+------+--------+---------+
|  AAPL|        Apple|  AAPL|2009-01-02 00:00:00| 85.88| 91.04| 85.16| 90.75|26643400|    90.75|
|  AAPL|        Apple|  AAPL|2008-01-02 00:00:00|199.27|200.26|192.55|194.84|38542100|   194.84|
|  AAPL|        Apple|  AAPL|2007-01-03 00:00:00| 86.29| 86.58|  81.9|  83.8|44225700|     83.8|
|  AAPL|        Apple|  AAPL|2006-01-03 00:00:00| 72.38| 74.75| 72.25| 74.75|28829800|    74.75|
|  AAPL|        Apple|  AAPL|2005-01-03 00:00:00| 64.78| 65.11|  62.6| 63.29|24714000|    31.65|
|  AAPL|        Apple|  AAPL|2004-01-02 00:00:00| 21.55| 21.75| 21.18| 21.28| 5165800|    10.64|
|  AAPL|        Apple|  AAPL|2003-01-02 00:00:00| 14.36| 14.92| 14.35|  14.8| 6479600|      7.4|
|  AAPL|        Apple|  AAPL|2002-01-02 00:00:00| 22.05|  23.3| 21.96|  23.3|18910600|    11.65|
|  AAPL|        Apple|  AAPL|2001-01-02 00:00:00| 14.88| 15.25| 14.56| 14.88|16161800|     7.44|
|  AAPL|        Apple|  AAPL|2000-01-03 00:00:00|104.87| 112.5|101.69|111.94|19144400|    27.99|
|  CSCO|Cisco Systems|  CSCO|2009-01-02 00:00:00| 16.41|  17.0| 16.25| 16.96|40980600|    16.96|
|  CSCO|Cisco Systems|  CSCO|2008-01-02 00:00:00|  27.0|  27.3| 26.21| 26.54|64338900|    26.54|
|  CSCO|Cisco Systems|  CSCO|2007-01-03 00:00:00| 27.46| 27.98| 27.33| 27.73|64226000|    27.73|
|  CSCO|Cisco Systems|  CSCO|2006-01-03 00:00:00| 17.21| 17.49| 17.18| 17.45|55426000|    17.45|
|  CSCO|Cisco Systems|  CSCO|2005-01-03 00:00:00| 19.42| 19.61| 19.27| 19.32|56725600|    19.32|
|  CSCO|Cisco Systems|  CSCO|2004-01-02 00:00:00| 24.36| 24.53| 24.16| 24.25|29955800|    24.25|
|  CSCO|Cisco Systems|  CSCO|2003-01-02 00:00:00| 13.11| 13.69| 13.09| 13.64|61335700|    13.64|
|  CSCO|Cisco Systems|  CSCO|2002-01-02 00:00:00| 18.44|  19.3| 18.26| 19.23|55376900|    19.23|
|  CSCO|Cisco Systems|  CSCO|2001-01-02 00:00:00| 38.13|  38.5| 32.63| 33.31|17384600|    33.31|
|  CSCO|Cisco Systems|  CSCO|2000-01-03 00:00:00|109.94|110.25|103.56|108.06|53076000|    54.03|
|  null|         null|  YHOO|2009-01-02 00:00:00| 12.17| 12.85| 12.12| 12.85| 9514600|    12.85|
|  null|         null|  YHOO|2008-01-02 00:00:00|  23.8| 24.15|  23.6| 23.72|25671700|    23.72|
|  null|         null|  YHOO|2007-01-03 00:00:00| 25.85| 26.26| 25.26| 25.61|26352700|    25.61|
|  null|         null|  YHOO|2006-01-03 00:00:00| 39.69| 41.22| 38.79| 40.91|24227700|    40.91|
|  null|         null|  YHOO|2005-01-03 00:00:00| 38.36|  38.9| 37.65| 38.18|25482800|    38.18|
|  null|         null|  YHOO|2004-01-02 00:00:00|  45.5| 45.83| 45.12|  45.4|16480000|     22.7|
|  null|         null|  YHOO|2003-01-02 00:00:00| 16.59| 17.66|  16.5|  17.6|19640400|      8.8|
|  null|         null|  YHOO|2002-01-02 00:00:00| 18.14| 18.69| 17.68| 18.63|21903600|     9.31|
|  null|         null|  YHOO|2001-01-02 00:00:00| 30.31| 30.37|  27.5| 28.19|21939200|     14.1|
|  null|         null|  YHOO|2000-01-03 00:00:00|442.92| 477.0| 429.5| 475.0|38469600|   118.75|
|  null|         null|  GOOG|2009-01-02 00:00:00| 308.6|321.82| 305.5|321.32| 3610500|   321.32|
|  null|         null|  GOOG|2008-01-02 00:00:00|692.87|697.37|677.73|685.19| 4306900|   685.19|
|  null|         null|  GOOG|2007-01-03 00:00:00| 466.0|476.66|461.11|467.59| 7706500|   467.59|
|  null|         null|  GOOG|2006-01-03 00:00:00|422.52|435.67|418.22|435.23|13121200|   435.23|
|  null|         null|  GOOG|2005-01-03 00:00:00| 197.4|203.64|195.46|202.71|15844200|   202.71|
|  null|         null|  MSFT|2009-01-02 00:00:00| 19.53|  20.4| 19.37| 20.33|50084000|    19.86|
|  null|         null|  MSFT|2008-01-02 00:00:00| 35.79| 35.96|  35.0| 35.22|63004200|    33.79|
|  null|         null|  MSFT|2007-01-03 00:00:00| 29.91| 30.25|  29.4| 29.86|76935100|    28.26|
|  null|         null|  MSFT|2006-01-03 00:00:00| 26.25|  27.0|  26.1| 26.84|79973000|    25.04|
|  null|         null|  MSFT|2005-01-03 00:00:00|  26.8| 26.95| 26.65| 26.74|65002900|    24.65|
+------+-------------+------+-------------------+------+------+------+------+--------+---------+
only showing top 40 rows

In [25]:
 df.groupBy(df["symbol"]).agg(avg("open"), stddev("close"), max("high"), min("low"), sum("volumn")).show()

+------+------------------+------------------+---------+--------+-----------+
|symbol|         avg(open)|stddev_samp(close)|max(high)|min(low)|sum(volumn)|
+------+------------------+------------------+---------+--------+-----------+
|  AAPL|            68.631|56.439056029982964|   200.26|   14.35|  228817200|
|  CSCO|31.148000000000003|27.839906788637062|   110.25|   13.09|  498826100|
|  YHOO|            69.333|141.78699896911093|    477.0|   12.12|  229682300|
|  GOOG|417.47799999999995| 180.1014931087469|   697.37|  195.46|   44589300|
|  MSFT| 44.63100000000001|29.038542663157184|   118.62|   19.37|  630277700|
+------+------------------+------------------+---------+--------+-----------+

In [26]:
df.groupBy(df["symbol"]).mean().show()

+------+------------------+------------------+------------------+-----------------+-----------+------------------+
|symbol|         avg(open)|         avg(high)|          avg(low)|       avg(close)|avg(volumn)|    avg(adj_close)|
+------+------------------+------------------+------------------+-----------------+-----------+------------------+
|  AAPL|            68.631| 70.54599999999999| 66.82000000000001|69.36299999999999| 2.288172E7|54.090999999999994|
|  CSCO|31.148000000000003|31.564999999999998|            29.794|           30.649| 4.988261E7|            25.246|
|  YHOO|            69.333| 73.29299999999999|            67.372|72.60900000000001| 2.296823E7|31.493000000000002|
|  GOOG|417.47799999999995|427.03200000000004|           411.604|          422.408|  8917860.0|           422.408|
|  MSFT| 44.63100000000001|            45.281|43.595000000000006|           44.714| 6.302777E7|26.895999999999997|
+------+------------------+------------------+------------------+-----------------+-----------+------------------+

In [27]:
df.groupBy(df["symbol"]).max().show()

+------+---------+---------+--------+----------+-----------+--------------+
|symbol|max(open)|max(high)|max(low)|max(close)|max(volumn)|max(adj_close)|
+------+---------+---------+--------+----------+-----------+--------------+
|  AAPL|   199.27|   200.26|  192.55|    194.84|   44225700|        194.84|
|  CSCO|   109.94|   110.25|  103.56|    108.06|   64338900|         54.03|
|  YHOO|   442.92|    477.0|   429.5|     475.0|   38469600|        118.75|
|  GOOG|   692.87|   697.37|  677.73|    685.19|   15844200|        685.19|
|  MSFT|   117.37|   118.62|   112.0|    116.56|   82413200|         47.64|
+------+---------+---------+--------+----------+-----------+--------------+

In [28]:
df.groupBy("symbol").mean().show()

+------+------------------+------------------+------------------+-----------------+-----------+------------------+
|symbol|         avg(open)|         avg(high)|          avg(low)|       avg(close)|avg(volumn)|    avg(adj_close)|
+------+------------------+------------------+------------------+-----------------+-----------+------------------+
|  AAPL|            68.631| 70.54599999999999| 66.82000000000001|69.36299999999999| 2.288172E7|54.090999999999994|
|  CSCO|31.148000000000003|31.564999999999998|            29.794|           30.649| 4.988261E7|            25.246|
|  YHOO|            69.333| 73.29299999999999|            67.372|72.60900000000001| 2.296823E7|31.493000000000002|
|  GOOG|417.47799999999995|427.03200000000004|           411.604|          422.408|  8917860.0|           422.408|
|  MSFT| 44.63100000000001|            45.281|43.595000000000006|           44.714| 6.302777E7|26.895999999999997|
+------+------------------+------------------+------------------+-----------------+-----------+------------------+

In [29]:
df.agg(countDistinct("symbol")).show()

+----------------------+
|count(DISTINCT symbol)|
+----------------------+
|                     5|
+----------------------+

In [30]:
df.count()

45

In [31]:
df_10 = df.limit(10)

In [32]:
df_10.show()

+------+-------------------+------+------+------+------+--------+---------+
|symbol|                day|  open|  high|   low| close|  volumn|adj_close|
+------+-------------------+------+------+------+------+--------+---------+
|  AAPL|2009-01-02 00:00:00| 85.88| 91.04| 85.16| 90.75|26643400|    90.75|
|  AAPL|2008-01-02 00:00:00|199.27|200.26|192.55|194.84|38542100|   194.84|
|  AAPL|2007-01-03 00:00:00| 86.29| 86.58|  81.9|  83.8|44225700|     83.8|
|  AAPL|2006-01-03 00:00:00| 72.38| 74.75| 72.25| 74.75|28829800|    74.75|
|  AAPL|2005-01-03 00:00:00| 64.78| 65.11|  62.6| 63.29|24714000|    31.65|
|  AAPL|2004-01-02 00:00:00| 21.55| 21.75| 21.18| 21.28| 5165800|    10.64|
|  AAPL|2003-01-02 00:00:00| 14.36| 14.92| 14.35|  14.8| 6479600|      7.4|
|  AAPL|2002-01-02 00:00:00| 22.05|  23.3| 21.96|  23.3|18910600|    11.65|
|  AAPL|2001-01-02 00:00:00| 14.88| 15.25| 14.56| 14.88|16161800|     7.44|
|  AAPL|2000-01-03 00:00:00|104.87| 112.5|101.69|111.94|19144400|    27.99|
+------+-------------------+------+------+------+------+--------+---------+

In [33]:
df.select("symbol").distinct().show()

+------+
|symbol|
+------+
|  AAPL|
|  CSCO|
|  YHOO|
|  GOOG|
|  MSFT|
+------+

In [34]:
df.select("*", (df["open"] - df["close"]).alias("new column")).show()

+------+-------------------+------+------+------+------+--------+---------+--------------------+
|symbol|                day|  open|  high|   low| close|  volumn|adj_close|          new column|
+------+-------------------+------+------+------+------+--------+---------+--------------------+
|  AAPL|2009-01-02 00:00:00| 85.88| 91.04| 85.16| 90.75|26643400|    90.75| -4.8700000000000045|
|  AAPL|2008-01-02 00:00:00|199.27|200.26|192.55|194.84|38542100|   194.84|   4.430000000000007|
|  AAPL|2007-01-03 00:00:00| 86.29| 86.58|  81.9|  83.8|44225700|     83.8|   2.490000000000009|
|  AAPL|2006-01-03 00:00:00| 72.38| 74.75| 72.25| 74.75|28829800|    74.75| -2.3700000000000045|
|  AAPL|2005-01-03 00:00:00| 64.78| 65.11|  62.6| 63.29|24714000|    31.65|   1.490000000000002|
|  AAPL|2004-01-02 00:00:00| 21.55| 21.75| 21.18| 21.28| 5165800|    10.64|  0.2699999999999996|
|  AAPL|2003-01-02 00:00:00| 14.36| 14.92| 14.35|  14.8| 6479600|      7.4| -0.4400000000000013|
|  AAPL|2002-01-02 00:00:00| 22.05|  23.3| 21.96|  23.3|18910600|    11.65|               -1.25|
|  AAPL|2001-01-02 00:00:00| 14.88| 15.25| 14.56| 14.88|16161800|     7.44|                 0.0|
|  AAPL|2000-01-03 00:00:00|104.87| 112.5|101.69|111.94|19144400|    27.99|  -7.069999999999993|
|  CSCO|2009-01-02 00:00:00| 16.41|  17.0| 16.25| 16.96|40980600|    16.96| -0.5500000000000007|
|  CSCO|2008-01-02 00:00:00|  27.0|  27.3| 26.21| 26.54|64338900|    26.54| 0.46000000000000085|
|  CSCO|2007-01-03 00:00:00| 27.46| 27.98| 27.33| 27.73|64226000|    27.73| -0.2699999999999996|
|  CSCO|2006-01-03 00:00:00| 17.21| 17.49| 17.18| 17.45|55426000|    17.45|-0.23999999999999844|
|  CSCO|2005-01-03 00:00:00| 19.42| 19.61| 19.27| 19.32|56725600|    19.32| 0.10000000000000142|
|  CSCO|2004-01-02 00:00:00| 24.36| 24.53| 24.16| 24.25|29955800|    24.25| 0.10999999999999943|
|  CSCO|2003-01-02 00:00:00| 13.11| 13.69| 13.09| 13.64|61335700|    13.64| -0.5300000000000011|
|  CSCO|2002-01-02 00:00:00| 18.44|  19.3| 18.26| 19.23|55376900|    19.23| -0.7899999999999991|
|  CSCO|2001-01-02 00:00:00| 38.13|  38.5| 32.63| 33.31|17384600|    33.31|                4.82|
|  CSCO|2000-01-03 00:00:00|109.94|110.25|103.56|108.06|53076000|    54.03|  1.8799999999999955|
+------+-------------------+------+------+------+------+--------+---------+--------------------+
only showing top 20 rows

In [35]:
df.withColumn("new column", df["open"] - df["close"]).show()

+------+-------------------+------+------+------+------+--------+---------+--------------------+
|symbol|                day|  open|  high|   low| close|  volumn|adj_close|          new column|
+------+-------------------+------+------+------+------+--------+---------+--------------------+
|  AAPL|2009-01-02 00:00:00| 85.88| 91.04| 85.16| 90.75|26643400|    90.75| -4.8700000000000045|
|  AAPL|2008-01-02 00:00:00|199.27|200.26|192.55|194.84|38542100|   194.84|   4.430000000000007|
|  AAPL|2007-01-03 00:00:00| 86.29| 86.58|  81.9|  83.8|44225700|     83.8|   2.490000000000009|
|  AAPL|2006-01-03 00:00:00| 72.38| 74.75| 72.25| 74.75|28829800|    74.75| -2.3700000000000045|
|  AAPL|2005-01-03 00:00:00| 64.78| 65.11|  62.6| 63.29|24714000|    31.65|   1.490000000000002|
|  AAPL|2004-01-02 00:00:00| 21.55| 21.75| 21.18| 21.28| 5165800|    10.64|  0.2699999999999996|
|  AAPL|2003-01-02 00:00:00| 14.36| 14.92| 14.35|  14.8| 6479600|      7.4| -0.4400000000000013|
|  AAPL|2002-01-02 00:00:00| 22.05|  23.3| 21.96|  23.3|18910600|    11.65|               -1.25|
|  AAPL|2001-01-02 00:00:00| 14.88| 15.25| 14.56| 14.88|16161800|     7.44|                 0.0|
|  AAPL|2000-01-03 00:00:00|104.87| 112.5|101.69|111.94|19144400|    27.99|  -7.069999999999993|
|  CSCO|2009-01-02 00:00:00| 16.41|  17.0| 16.25| 16.96|40980600|    16.96| -0.5500000000000007|
|  CSCO|2008-01-02 00:00:00|  27.0|  27.3| 26.21| 26.54|64338900|    26.54| 0.46000000000000085|
|  CSCO|2007-01-03 00:00:00| 27.46| 27.98| 27.33| 27.73|64226000|    27.73| -0.2699999999999996|
|  CSCO|2006-01-03 00:00:00| 17.21| 17.49| 17.18| 17.45|55426000|    17.45|-0.23999999999999844|
|  CSCO|2005-01-03 00:00:00| 19.42| 19.61| 19.27| 19.32|56725600|    19.32| 0.10000000000000142|
|  CSCO|2004-01-02 00:00:00| 24.36| 24.53| 24.16| 24.25|29955800|    24.25| 0.10999999999999943|
|  CSCO|2003-01-02 00:00:00| 13.11| 13.69| 13.09| 13.64|61335700|    13.64| -0.5300000000000011|
|  CSCO|2002-01-02 00:00:00| 18.44|  19.3| 18.26| 19.23|55376900|    19.23| -0.7899999999999991|
|  CSCO|2001-01-02 00:00:00| 38.13|  38.5| 32.63| 33.31|17384600|    33.31|                4.82|
|  CSCO|2000-01-03 00:00:00|109.94|110.25|103.56|108.06|53076000|    54.03|  1.8799999999999955|
+------+-------------------+------+------+------+------+--------+---------+--------------------+
only showing top 20 rows

In [36]:
df.withColumnRenamed("symbol", "stock symbol").show()

+------------+-------------------+------+------+------+------+--------+---------+
|stock symbol|                day|  open|  high|   low| close|  volumn|adj_close|
+------------+-------------------+------+------+------+------+--------+---------+
|        AAPL|2009-01-02 00:00:00| 85.88| 91.04| 85.16| 90.75|26643400|    90.75|
|        AAPL|2008-01-02 00:00:00|199.27|200.26|192.55|194.84|38542100|   194.84|
|        AAPL|2007-01-03 00:00:00| 86.29| 86.58|  81.9|  83.8|44225700|     83.8|
|        AAPL|2006-01-03 00:00:00| 72.38| 74.75| 72.25| 74.75|28829800|    74.75|
|        AAPL|2005-01-03 00:00:00| 64.78| 65.11|  62.6| 63.29|24714000|    31.65|
|        AAPL|2004-01-02 00:00:00| 21.55| 21.75| 21.18| 21.28| 5165800|    10.64|
|        AAPL|2003-01-02 00:00:00| 14.36| 14.92| 14.35|  14.8| 6479600|      7.4|
|        AAPL|2002-01-02 00:00:00| 22.05|  23.3| 21.96|  23.3|18910600|    11.65|
|        AAPL|2001-01-02 00:00:00| 14.88| 15.25| 14.56| 14.88|16161800|     7.44|
|        AAPL|2000-01-03 00:00:00|104.87| 112.5|101.69|111.94|19144400|    27.99|
|        CSCO|2009-01-02 00:00:00| 16.41|  17.0| 16.25| 16.96|40980600|    16.96|
|        CSCO|2008-01-02 00:00:00|  27.0|  27.3| 26.21| 26.54|64338900|    26.54|
|        CSCO|2007-01-03 00:00:00| 27.46| 27.98| 27.33| 27.73|64226000|    27.73|
|        CSCO|2006-01-03 00:00:00| 17.21| 17.49| 17.18| 17.45|55426000|    17.45|
|        CSCO|2005-01-03 00:00:00| 19.42| 19.61| 19.27| 19.32|56725600|    19.32|
|        CSCO|2004-01-02 00:00:00| 24.36| 24.53| 24.16| 24.25|29955800|    24.25|
|        CSCO|2003-01-02 00:00:00| 13.11| 13.69| 13.09| 13.64|61335700|    13.64|
|        CSCO|2002-01-02 00:00:00| 18.44|  19.3| 18.26| 19.23|55376900|    19.23|
|        CSCO|2001-01-02 00:00:00| 38.13|  38.5| 32.63| 33.31|17384600|    33.31|
|        CSCO|2000-01-03 00:00:00|109.94|110.25|103.56|108.06|53076000|    54.03|
+------------+-------------------+------+------+------+------+--------+---------+
only showing top 20 rows

In [37]:
df.drop("volumn", "adj_close").show()

+------+-------------------+------+------+------+------+
|symbol|                day|  open|  high|   low| close|
+------+-------------------+------+------+------+------+
|  AAPL|2009-01-02 00:00:00| 85.88| 91.04| 85.16| 90.75|
|  AAPL|2008-01-02 00:00:00|199.27|200.26|192.55|194.84|
|  AAPL|2007-01-03 00:00:00| 86.29| 86.58|  81.9|  83.8|
|  AAPL|2006-01-03 00:00:00| 72.38| 74.75| 72.25| 74.75|
|  AAPL|2005-01-03 00:00:00| 64.78| 65.11|  62.6| 63.29|
|  AAPL|2004-01-02 00:00:00| 21.55| 21.75| 21.18| 21.28|
|  AAPL|2003-01-02 00:00:00| 14.36| 14.92| 14.35|  14.8|
|  AAPL|2002-01-02 00:00:00| 22.05|  23.3| 21.96|  23.3|
|  AAPL|2001-01-02 00:00:00| 14.88| 15.25| 14.56| 14.88|
|  AAPL|2000-01-03 00:00:00|104.87| 112.5|101.69|111.94|
|  CSCO|2009-01-02 00:00:00| 16.41|  17.0| 16.25| 16.96|
|  CSCO|2008-01-02 00:00:00|  27.0|  27.3| 26.21| 26.54|
|  CSCO|2007-01-03 00:00:00| 27.46| 27.98| 27.33| 27.73|
|  CSCO|2006-01-03 00:00:00| 17.21| 17.49| 17.18| 17.45|
|  CSCO|2005-01-03 00:00:00| 19.42| 19.61| 19.27| 19.32|
|  CSCO|2004-01-02 00:00:00| 24.36| 24.53| 24.16| 24.25|
|  CSCO|2003-01-02 00:00:00| 13.11| 13.69| 13.09| 13.64|
|  CSCO|2002-01-02 00:00:00| 18.44|  19.3| 18.26| 19.23|
|  CSCO|2001-01-02 00:00:00| 38.13|  38.5| 32.63| 33.31|
|  CSCO|2000-01-03 00:00:00|109.94|110.25|103.56|108.06|
+------+-------------------+------+------+------+------+
only showing top 20 rows

In [38]:
df = spark.read.csv("hdfs://devenv/user/spark/spark_sql_101/data/contains_null.csv", inferSchema=True, header=True)

In [39]:
df.dropna(how="any", subset=["Name", "Sales"]).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [40]:
df.dropna(how="all", subset=["Name", "Sales"]).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [41]:
df = spark.read.csv("hdfs://devenv/user/spark/spark_sql_101/data/stocks.csv",
                    inferSchema=True,
                    header=True)

In [42]:
df.describe().show()

+-------+------+-----------------+------------------+------------------+------------------+--------------------+------------------+
|summary|symbol|             open|              high|               low|             close|              volumn|         adj_close|
+-------+------+-----------------+------------------+------------------+------------------+--------------------+------------------+
|  count|    45|               45|                45|                45|                45|                  45|                45|
|   mean|  null|93.88488888888891|  96.4891111111111| 91.86288888888889| 95.23088888888887|3.6270946666666664E7| 77.53999999999999|
| stddev|  null|146.0495925054572|150.05835522195756|143.32148230182352|148.33716191075442|2.2486673096895333E7|138.76775362257092|
|    min|  AAPL|            12.17|             12.85|             12.12|             12.85|             3610500|               7.4|
|    max|  YHOO|           692.87|            697.37|            677.73|            685.19|            82413200|            685.19|
+-------+------+-----------------+------------------+------------------+------------------+--------------------+------------------+

In [43]:
df.describe("open","close").show()

+-------+-----------------+------------------+
|summary|             open|             close|
+-------+-----------------+------------------+
|  count|               45|                45|
|   mean|93.88488888888891| 95.23088888888887|
| stddev|146.0495925054572|148.33716191075442|
|    min|            12.17|             12.85|
|    max|           692.87|            685.19|
+-------+-----------------+------------------+